* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
  letter-spacing: 0.02rem;
}

body {
  overflow-x: hidden;
}

a,
label {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
  border: none;
  outline: none;
  background: none;
}

.gradient-btn {
  margin-top: 1.36rem;

  button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    padding: 14px 20px;
    @include fontSize(var(--fs-b4), var(--fw-bold), var(--lh-b4), var(--gray-800));
    border-radius: 1.25rem;
    border: double 2px transparent;
    border-radius: 19px;
    background-image: linear-gradient(white, white),
      radial-gradient(circle at top left, var(--fuchsia-300), var(--orange-500), var(--violet-500));
    background-origin: border-box;
    background-clip: padding-box, border-box;

    img {
      width: 16px;
      height: 16px;
      object-fit: contain;
      opacity: 0;
      visibility: hidden;
      transition: all 250ms ease-in-out;
    }

    span {
      transform: translateX(12px);
      transition: all 250ms ease-in-out;
    }

    &:hover {
      img {
        opacity: 1;
        visibility: visible;
      }

      span {
        transform: none;
      }
    }
  }
}

.filled-gradient-btn {
  @include fontSize(14px, 600, 16px, white);
  width: 100%;
  padding: 17px 0;
  border-radius: 9px;
  background: linear-gradient(96deg, #ffcdff -65.1%, #a967ff 100.31%, #0400c5 295.29%);
}

.black-btn {
  @include flexBox(center, center);
  padding: 0.75rem 1rem;
  border-radius: 0.5625rem;
  background: #333;
  letter-spacing: 0.01875rem;
  width: 100%;
  @include fontSize(0.75rem, 500, 1.25rem, #fff);
  margin-top: 2rem;

  img {
    margin-right: 0.5rem;
  }
}

.line {
  height: 1px;
  background-color: #e5e5e5;
  width: 100%;
}

.link-text {
  letter-spacing: 0.01875rem;
  @include fontSize(0.75rem, 500, 1.25rem, #007aff);
  margin-left: 5px;
}

// New
$offsetTop: 85px;

.container {
  display: flex;
  flex-direction: column;
  width: 1244px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.container-fluid {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

html {
  scrollbar-color: var(--gray-700) var(--gray-0);
  scrollbar-width: thin;
}

::selection {
  color: var(--gray-700);
  background: var(--yellow-500);
}

::-moz-selection {
  color: var(--gray-700);
  background: var(--yellow-500);
}

.ai-main {
  padding-top: $offsetTop;

  &--home,
  &--404 {
    padding-top: 0;
  }
}

.ai-section {
  $section: &;
  position: relative;
  padding: $offsetTop 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: var(--gray-0);
  padding: 15px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    &--lg {
      #{$section}__title {
        @include fontSize(var(--fs-h1), var(--fw-extra-bold), var(--lh-h1), var(--gray-800));

        @media(max-width: 768px) {
          @include fontSize(var(--fs-h2), var(--fw-extra-bold), var(--lh-h2), var(--gray-800));
        }
      }

      #{$section}__desc {
        @include fontSize(var(--fs-b9), var(--fw-thin), var(--lh-b9), var(--gray-700));

        @media(max-width: 768px) {
          @include fontSize(var(--fs-b6), var(--fw-thin), var(--lh-b6), var(--gray-700));
        }
      }
    }

    &--center {
      align-items: center;
      text-align: center;
    }
  }

  &__title {
    @include fontSize(var(--fs-h2), var(--fw-extra-bold), var(--lh-h2), var(--gray-800));
    letter-spacing: 0.04em;
  }

  &__desc {
    @include fontSize(var(--fs-b6), var(--fw-thin), var(--lh-b6), var(--gray-700));
    letter-spacing: 0.02rem;
  }

  &__graphic {
    z-index: 1000;


    img {
      display: block;
    }

    &--explore {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 80%;
      height: 80%;
    }

    &--about {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 80%;
      height: 80%;

      @media(max-width: 768px) {
        width: 100%;
        height: 100%;
      }
    }

    &--feedbacks {
      position: absolute;
      right: 0;
      top: $offsetTop;
      height: 400px;
      width: auto;
    }

    &--faq {
      position: absolute;
      left: 0;
      bottom: 0;
      height: auto;
      width: 574px;
    }

    &--why {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.ai-btn {
  $btn: &;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  padding: 12px 24px;
  height: 50px;
  @include fontSize(var(--fs-b4), var(--fw-semi-bold), var(--lh-b4), var(--gray-800));
  letter-spacing: 0.5px;
  border-radius: 1.25rem;
  transition: all 250ms ease-in-out;
  user-select: none;

  img,
  svg {
    width: 20px;
    height: 20px;
    object-fit: contain;

    path {
      stroke: var(--gray-800);
    }
  }

  &--lg {
    padding: 14px 28px;
    height: 55px;
  }

  &--sm {
    padding: 12px 24px;
    height: 45px;
  }

  &--primary {
    border: double 2px transparent;
    background-image: linear-gradient(white, white),
      radial-gradient(circle at top left, var(--fuchsia-300), var(--orange-500), var(--violet-500));
    background-origin: border-box;
    background-clip: padding-box, border-box;

    img,
    svg {
      opacity: 0;
      visibility: hidden;
      transition: all 250ms ease-in-out;
    }

    span {
      transform: translateX(12px);
      transition: all 250ms ease-in-out;
    }

    &:hover {

      img,
      svg {
        opacity: 1;
        visibility: visible;
      }

      span {
        transform: none;
      }
    }
  }

  &--secondary {
    background: var(--yellow-500);

    &:hover {
      // background: var(--orange-500);
    }
  }

  &--tertiary {
    background: var(--gradient-2);
    color: var(--gray-0);
    border-radius: 8px;
  }

  &--google {
    background: var(--gray-800);
    color: var(--gray-0);
    border-radius: 8px;
    font-weight: var(--fw-thin);

    svg {
      width: 24px;
      height: 24px;
      object-fit: contain;

      path {
        stroke: inherit;
      }
    }

    &:hover {
      background: var(--gray-900);
    }
  }

  &--text {
    padding: 0;
    height: auto;
    background: none;
    color: var(--blue-500);

    &:hover {
      color: var(--blue-400);
    }

    &#{$btn}--sm {
      font-size: var(--fs-b2);
      line-height: var(--lh-b2);
    }
  }
}

.ai-highlight {
  span {
    background: var(--gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: var(--fw-bold);
  }
}

.ai-content {
  --gutter-md: 1rem;

  * {
    line-height: 1.3;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: var(--gutter-md);
  }

  p,
  iframe,
  ol,
  ul,
  table,
  img {
    margin-top: 0;
    margin-bottom: var(--gutter-md);
  }

  ul,
  ol {
    margin-right: 0;
    margin-left: var(--gutter-md);
    padding-left: var(--gutter-md);
  }

  li {
    list-style: unset;
  }

  li:not(:last-child) {
    margin-bottom: 12px;
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 65vh;
    width: auto;
    height: auto;
  }

  a {
    background: var(--gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
  }

  p {
    font-weight: var(--fw-thin);
  }
}

.ai-btns-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

// Libraries
#fp-nav ul li a span {
  background: var(--gray-900);
}

html .fp-watermark {
  display: none !important;
}