.ai-section {
  $section: &;

  &--about {
    #{$section} {
      &__content {
        position: relative;
        z-index: 1001;
      }

      &__desc {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: var(--fs-b5);
        line-height: var(--lh-b5);
      }
    }
  }
}
