#about-us {
  padding-left: 2.75rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .text {
    p {
      width: 85%;
      margin-top: 1.31rem;
      &:nth-child(2) {
        margin-top: 1rem;
      }
    }
  }
}
