#community {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .red-bg {
    width: 100%;
    height: 10.75rem;
    border-radius: 1.0625rem;
    background: #ff806e;
  }
  .purple-bg {
    width: 100%;
    height: 22.8rem;
    border-radius: 1.0625rem;
    background: #8d83ff;
  }
  .green-bg {
    width: 100%;
    height: 18.3rem;
    border-radius: 1.0625rem;
    background: #5eb1ab;
    box-shadow: 0px 4px 56.1px 0px rgba(141, 150, 181, 0.13);
  }
  .yellow-bg {
    width: 100%;
    height: 15.25rem;
    border-radius: 1.0625rem;
    background: #ffde8a;
  }
}
