.section {
  $section: &;

  &--community {
    #{$section}__content {
      max-width: 500px;
      display: flex;
      justify-content: center;
    }

    .cards-wrapper {
      display: flex;
      gap: 16px;
      height: 552px;

      &:hover {
        .card {
          &--red {
            height: 70%;
          }

          &--purple {
            height: 30%;
          }

          &--green {
            height: 40%;
          }

          &--yellow {
            height: 60%;
          }
        }
      }
    }

    .cards-col {
      display: flex;
      flex-direction: column;
      gap: 16px;
      flex: 1;
    }

    .card {
      width: 100%;
      border-radius: 18px;
      transition: all 250ms ease-in-out;
      flex-shrink: 0;

      &--red {
        height: 30%;
        background: #ff806e;
      }

      &--purple {
        height: 70%;
        background: #8d83ff;
      }

      &--green {
        height: 60%;
        background: #5eb1ab;
        // transition-delay: 250ms;
      }

      &--yellow {
        height: 40%;
        background: #ffde8a;
        // transition-delay: 250ms;
      }
    }
  }
}
