.section {
  $section: &;

  &--explore {
    #{$section} {
      &__content {
        position: relative;
        z-index: 101;
      }

      &__header {
        .ai-btn {
          min-width: 178px;
        }
      }

      &__title {
        max-width: 678px;
      }

      &__desc {
        max-width: 572px;
      }
    }
  }
}
