.container {
  position: relative;
  .rive-1 {
    position: absolute;
    bottom: -0.5rem;
    z-index: 100;
    right: -3rem;
    width: 90%;
  }
}
.explore-landing {
  min-height: calc(100vh - 90px);
  .explore-left {
    padding-top: 6rem;
    padding-left: 2.87rem;
    .language {
      margin-top: 2rem;
      span {
        letter-spacing: 0.03088rem;
        @include fontSize(0.77256rem, 500, 100%, #000);
        margin-right: 0.5rem;
      }
      #lang-select {
        padding: 0.76rem 0.81rem;
        border-radius: 0.5625rem;
        background: #f4f5fb;
        text-transform: uppercase;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}
