.section {
  $section: &;

  &--faq {
    height: auto;
    padding-bottom: 320px;

    #{$section} {
      &__content {
        position: relative;
        z-index: 1001;
        max-width: 832px;
        margin: 0 auto;
      }

      &__footer {
        display: flex;
        justify-content: center;
      }
    }
  }
}
