#feedbacks {
  min-height: 100vh;
  .feedback-image {
    position: absolute;
    right: -150px;
    top: 20px;
  }
  .feedback-container {
    .feedback-head-container {
      @include flexBox(center, center);
      .page-head {
        font-size: 3rem;
      }
    }
    .feedback-content {
      margin-top: 3.38rem;
      .right-feedback {
        .person-box:first-child {
          margin-top: 5.8rem;
        }
      }
      .person-box {
        width: 100%;
        margin-bottom: 5.44rem;
        display: flex;
        .person-box-detail {
          margin-left: 2.38rem;
          padding-top: 2.19rem;
          h5 {
            letter-spacing: 0.025rem;
            @include fontSize(1.25rem, 600, 130%, #2e2e2e);
          }
          .field-name {
            letter-spacing: 0.025rem;
            @include fontSize(1.25rem, 300, 130%, #2e2e2e);
          }
          .content {
            max-width: 17rem;
            border-radius: 1.22175rem 1.22175rem 1.22175rem 0rem;
            background: #f5f6f9;
            padding: 1rem 1.1875rem;
            margin-top: 3.9rem;
            letter-spacing: 0.02rem;
            @include fontSize(1rem, 500, 130%, #36373a);
          }
        }
      }
    }
  }
}
