.ai-contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;

  li {
    list-style-type: none;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      @include fontSize(var(--fs-b5), var(--fw-thin), var(--lh-b5), var(--gray-800));
      transition: all 250ms ease-in-out;

      img,
      svg {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }

      &:hover {
        color: var(--yellow-500);
      }
    }
  }
}
