.ai-form {
  $form: &;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__header {
    display: flex;
    @include fontSize(var(--fs-b6), var(--fw-medium), var(--lh-b6), var(--gray-800));
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__footer {
    display: flex;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__control {
    display: flex;
    position: relative;
    border: 1px solid var(--gray-50);
    border-radius: 8px;
    @include fontSize(var(--fs-b3), var(--fw-thin), var(--lh-b3), var(--gray-800));
    flex-grow: 1;
    min-width: 0;
    transition: all 250ms ease-in-out;

    input,
    textarea {
      flex-grow: 1;
      padding: 16px 20px;

      &::placeholder {
        @include fontSize(var(--fs-b3), var(--fw-thin), var(--lh-b3), var(--gray-500));
      }
    }

    span {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;

      &.suffix {
        right: 16px;
      }

      &.prefix {
        left: 16px;
      }

      > * {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      > svg path {
        stroke: var(--black-800);
      }
    }

    &:focus-within {
      border-color: var(--gray-100);
    }

    &--danger {
      border-color: var(--error-400);

      > svg path {
        stroke: var(--error-400);
      }

      &:focus-within {
        // border-color: var(--error-400);
      }
    }

    &--success {
      border-color: var(--success-400);

      > svg path {
        stroke: var(--success-400);
      }

      &:focus-within {
        // border-color: var(--success-400);
      }
    }

    &--has-prefix {
      input {
        padding-left: 52px;
      }
    }

    &--has-suffix {
      input {
        padding-right: 52px;
      }
    }

    &--primary {
      background: var(--gray-50);
    }

    &--readonly {
      background-color: #f3f7fe;
    }

    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &--textarea {
      min-height: 140px;
    }
  }

  &__label {
    user-select: none;
    @include fontSize(var(--fs-b2), var(--fw-thin), var(--lh-b2), var(--gray-800));
  }

  &__switch {
    margin: 0;
    gap: 8px;

    .MuiSwitch-root {
      width: 40px;
      height: 20px;
      border-radius: 10px;
      padding: 0;
      border: 1px solid #e5e5e5;
    }

    .MuiButtonBase-root {
      padding: 0;

      &:hover {
        background-color: rgba(0, 0, 0, 0.02);
      }

      &.Mui-checked {
        transform: translateX(20px);

        .MuiSwitch-thumb {
          background-color: #ffffff;
        }

        & + .MuiSwitch-track {
          background: #f8f9fb;
          opacity: 1;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.02);
        }
      }
    }

    .MuiSwitch-thumb {
      margin: 2px;
      width: 14px;
      height: 14px;
      background-color: #ffffff;
      box-shadow: 1px 1px 2px -1px rgba(51, 51, 51, 0.3);
    }

    .MuiSwitch-track {
      background: #f8f9fb;
      opacity: 1;
    }

    .MuiTouchRipple-root {
      display: none;
    }

    .MuiTypography-root {
      user-select: none;
      font-family: var(--font-family-primary);
      @include fontSize(var(--fs-b2), var(--fw-regular), var(--lh-b2), var(--gray-800));
    }
  }

  &__check {
    margin: 0;
    gap: 6px;
    flex-shrink: 0;

    .MuiCheckbox-root {
      padding: 0;

      &.Mui-checked {
        color: var(--gray-500);
      }
    }

    .MuiButtonBase-root {
      &:hover {
        background: none;
      }
    }

    .MuiSvgIcon-root {
      width: 20px;
      height: 20px;
    }

    .MuiTouchRipple-root {
      display: none;
    }

    .MuiTypography-root {
      user-select: none;
      font-family: var(--font-family-primary);
      @include fontSize(var(--fs-b2), var(--fw-regular), var(--lh-b2), var(--gray-800));
    }
  }

  &--contact {
    max-width: 360px;
    width: 100%;
  }

  &--login {
    max-width: 462px;
    width: 100%;
    border-radius: 16px;
    box-shadow: 0px 4px 56px 0px rgba(187, 193, 217, 0.25);
    padding: 32px 40px;

    #{$form}__footer {
      display: flex;
      flex-direction: column;
      gap: 24px;

      &__btns {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }

      &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 8px;
        @include fontSize(var(--fs-b2), var(--fw-medium), var(--lh-b2), var(--gray-800));
      }
    }

    .ai-btns-wrapper {
      padding: 8px 0;
    }
  }

  &--signup {
    .ai-btns-wrapper {
      padding: 8px 0;
    }
  }
}
