.ai-socials {
  display: flex;
  align-items: center;
  gap: 24px;

  li {
    list-style-type: none;

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      img,
      svg {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }

      svg {
        path {
          fill: var(--gray-0);
          transition: all 250ms ease-in-out;
        }
      }

      &:hover {
        svg {
          path {
            fill: var(--yellow-500);
          }
        }
      }
    }
  }

  &--dark {
    li a svg path {
      fill: var(--gray-800);
    }
  }
}
