.contact-page {
  padding-bottom: 6rem;
  .contact-container {
    @include flexBox(center, center);
    flex-direction: column;
    form {
      width: 300px;
      legend {
        @include fontSize(20px, 300, 24px, #36373a);
        text-align: center;
        margin-bottom: 22px;
      }
      .form-group {
        label {
          @include fontSize(13px, 400, 14px, #6e6e77);
          letter-spacing: 0.24px;
          margin-bottom: 8px;
        }
        input,
        textarea {
          padding: 15px 20px;
          border-radius: 9px;
          background: #f4f5f9;
          width: 100%;
          margin-bottom: 10px;
        }
        textarea {
          height: 150px;
        }
        ::placeholder {
          @include fontSize(14px, 200, 16px, #6e6e77);
          letter-spacing: 0.28px;
        }
      }
    }
    .contact-email-phone {
      @include flexBox(space-between, center);
      flex-direction: column;
      margin-top: 45px;
      .email,
      .phone {
        a {
          @include fontSize(18px, 300, 24px, #36373a);
          letter-spacing: 0.36px;
        }
      }
      .email {
        margin-bottom: 6px;
      }
      .phone {
        margin-bottom: 27px;
      }
    }
    .social-networks {
      @include flexBox(center, center);
      a {
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }
    .contact-success {
      @include flexBox(center, center);
      img {
        margin-right: 10px;
      }
    }
  }
}

.ai-section {
  $section: &;

  &--contact {
    #{$section} {
      &__content {
        position: relative;
        z-index: 1001;
        // max-width: 360px;
        // margin: 0 auto;
      }

      &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 24px;
      }
    }
  }
}

.ai-form {
  $form: &;

  &--contact {
    .ai-btn {
      flex-grow: 1;
    }
  }
}
