.forgot-password-modal {
  .link-text {
    text-decoration: underline;
    margin-left: 0;
  }
  .modal-head {
    h1 {
      @include fontSize(2.25rem, 500, 1.75rem, #1a1a1a);
      margin-bottom: 1.63rem;
    }
    p {
      @inlcude fontSize(0.875rm,400,0%,#000);
      margin-bottom: 4rem;
      width: 70%;
    }
  }
  .medias {
    display: flex;
    margin-bottom: 7rem;
    a {
      display: flex;
      align-items: center;
      margin-right: 3rem;
      img {
        margin-right: 1rem;
      }
    }
  }
}
