.stack__card {
  height: 100vh;
  position: sticky;
  background-color: #fff;
  top: 85px;
  section {
    background-color: #fff;
    height: 100%;
  }
}
.faq-stack {
  height: auto !important;
  padding-bottom: 5rem;
}

.stacked_card {
  max-height: 40rem;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.stacked_card_container {
  height: 100%;
  @include flexBox(center, center);
  background-color: #fff;
}
