.home-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  .left {
    @include flexBox(center, flex-start);
    width: 40vw;
    .left-content {
      flex-direction: column;
      margin-left: 85px;
      width: 390px;
      height: 500px;
      img {
        margin-bottom: 35px;
      }
      h2 {
        @include fontSize(38px, 900, 38px, black);
      }
      p {
        margin-top: 16px;
        @include fontSize(24px, 400, 28px, black);
        letter-spacing: 0.47px;
      }
      form {
        margin-top: 47px;
        .form-group {
          label {
            @include fontSize(12px, 400, 14px, #6e6e77);
            letter-spacing: 0.24px;
            margin-bottom: 7px;
          }
          input {
            border-radius: 9px;
            background: #f4f5f9;
            padding: 15px 20px;
            height: 50px;
            width: 280px;
          }
          ::placeholder {
            @include fontSize(14px, 200, 16.5px, #6e6e77);
            letter-spacing: 0.3px;
          }
          margin-bottom: 8px;
        }
        button {
          width: 280px;
          height: 50px;
          @include fontSize(14px, 600, 16.5px, white);
          border-radius: 9px;
          background: linear-gradient(96deg, #ffcdff -65.1%, #a967ff 100.31%, #0400c5 295.29%);
        }
      }
    }
  }
  .right {
    width: 60vw;
    height: 100%;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 92px;
      font-weight: 900;
      line-height: 92px;
      letter-spacing: 3.7px;
      background: linear-gradient(80deg, #ffcdff 0, #a967ff 147.03%, #7f00c5 790.01%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 1111;
    }
    .circles {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      .circle {
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color: black;
        border-radius: 50%;
        position: relative;
        @include flexBox(center, center);
        transition: cubic-bezier(0.4, 0, 1, 1) 1.5s;
        &::before {
          content: "";
          position: absolute;
          top: -1px;
          left: -1px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background-color: white;
          transform: translate(0, 0);
          transition: transform 1s;
        }
        .little-circle {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: linear-gradient(136deg, #ffcdff 3.48%, #a967ff 132.13%, #7f00c5 250.89%),
            linear-gradient(0deg, #ffd874 0%, #ffd874 100%), #8861e0;
          transition: 0.5s;
          z-index: -1;
        }
      }
      .active-circle {
        &::before {
          transform: translate(32px, 32px);
        }
        .little-circle {
          z-index: 1;
        }
      }
      .active-click-effect {
        z-index: 2;
        &::before {
          transform: translate(32px, 32px);
        }
        .little-circle {
          width: 40px;
          height: 40px;
          fill: linear-gradient(126deg, #ffcdff 47.81%, #a967ff 162.77%, #7f00c5 213.28%), #ffd874;
          filter: drop-shadow(0px 9px 200px rgba(152, 89, 255, 0.85));
        }
      }
      .transform-effect {
        transform: translateY(100vh);
      }
    }
  }
}
